body {
  background-color: #FFF;
}

.header {
  width: 1440px;
  height: 120px;
}

.header__top-inner {
  display: flex;
  padding: 32px 80px;
  justify-content: center;
  align-items: center;
}

.logo__link {
  display: flex;
  gap: 12px;
}

.menu {
  display: flex;
}

.menu__list {
  display: flex;
  gap: 69px;
  margin-left: 345px;
  margin-right: 108px;
}

.menu__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #40494D;
}

.info {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.info__search {
  border: 2px solid #40494D;
  border-radius: 28px;
  width: 58px;
  height: 56px;
  display: flex;
  position: relative;
}

.info__search-input {
  border: none;
  width: 100%;
  height: 56px;
  background: none;
}

.info__search-img {
  height: 17px;
  width: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.info__button {
  width: 177px;
}

.btn {
  height: 56px;
  background: #283337;
  border-radius: 56px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.about {
  background: #F3F7F4;
  display: flex;
  padding-left: 135px;
}

.about__left {
  padding-top: 278px;
}

.about__header {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #283337;
  width: 420px;
  margin-bottom: 40px;
}

.about__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 31px;
  color: #40494D;
  padding-bottom: 26px;
  width: 347px;
}

.about__request-button {
  width: 218px;
}

.about__right {
  padding-left: 253px;
  padding-top: 179px;
}
.about__right .women .women__img {
  position: absolute;
}
.about__right .services .services1 {
  position: relative;
  z-index: 2;
}
.about__right .services .services1 .services__img {
  border-radius: 6px 0px 0px 6px;
}
.about__right .services .financial {
  top: 182px;
  left: -104px;
}
.about__right .services .automation {
  top: -48px;
  left: 295px;
}
.about__right .services .continuos {
  top: 23px;
  left: 100px;
}

.companies {
  background: #F3F7F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 150px;
}

.product {
  padding: 80px 160px 100px 163px;
  display: flex;
}
.product .product__left h2 {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #283337;
  padding-bottom: 28px;
}
.product .product__left p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #40494D;
  width: 363px;
  padding-bottom: 39px;
}
.product .product__left button {
  width: 242px;
}
.product .about-automation {
  background: #F3F7F4;
  border-radius: 6px;
  padding: 80px;
  margin-left: 194px;
}
.product .about-automation h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: #283337;
  margin-top: 27px;
  margin-bottom: 51px;
  width: 203px;
}
.product .about-automation p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #40494D;
  width: 391px;
}
.product .about-automation .automation__more {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-align: right;
  color: #283337;
}

.results {
  background: #F3F7F4;
  padding-top: 224px;
  padding-bottom: 172px;
  padding-left: 160px;
  padding-right: 171px;
}
.results .results__header {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  color: #283337;
  margin-bottom: 75px;
}
.results .result__container {
  display: flex;
  justify-content: space-between;
}
.results .result__container .result .result__number {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 70px;
  text-align: center;
  color: #283337;
}
.results .result__container .result .result__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #40494D;
  width: 200px;
}

.difference {
  display: flex;
  padding: 406px 80px 150px 105px;
  justify-content: space-between;
}
.difference .difference__right {
  padding-top: 88px;
}
.difference .difference__left h2 {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #283337;
  padding-bottom: 43px;
  width: 285px;
}
.difference .difference__left .difference__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #40494D;
  width: 381px;
}
.difference .difference__left .our-differences {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #283337;
  padding-bottom: 24px;
  padding-top: 24px;
}
.difference .difference__left .differences {
  padding-bottom: 12px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #40494D;
  padding-left: 34px;
}
.difference .difference__left .more {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #40494D;
}

.built-for {
  padding: 0 232px 150px 239px;
}
.built-for h2 {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  color: #283337;
}
.built-for .companies {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
}

.start {
  padding: 144px 446px 150px 446px;
  background: #F3F7F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start h2 {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  color: #283337;
}
.start p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 36px;
  /* identical to box height, or 109% */
  text-align: center;
  color: #283337;
  padding-top: 48px;
  padding-bottom: 64px;
}
.start button {
  width: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #101C21;
  padding: 100px 80px 53px 80px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__left .product__container h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #878D90;
  padding-bottom: 3px;
}
.footer .footer__left .product__container p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #CFD2D3;
  padding-top: 13px;
  padding-bottom: 13px;
}
.footer .footer__left .interration {
  padding-top: 22px;
  padding-bottom: 52px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer .footer__left .interration .demo {
  padding-top: 14px;
  padding-bottom: 14px;
}
.footer .footer__left .schedule-btn button {
  background: #283337;
  border-radius: 56px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height, or 124% */
  text-align: center;
  color: #FFFFFF;
  width: 218px;
  height: 56px;
  margin-bottom: 106px;
}
.footer .footer__left .social a .f {
  padding-left: 35px;
}
.footer .footer__left .social a .l {
  padding-left: 35px;
  padding-right: 35px;
}

.footer__right .footer__right-up {
  display: flex;
  justify-content: space-between;
}
.footer__right .footer__right-up .resources h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #878D90;
}
.footer__right .footer__right-up .resources p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 14px;
  margin-bottom: 14px;
}
.footer__right .footer__right-up .support {
  margin-left: 148px;
  margin-right: 116px;
}
.footer__right .footer__right-up .logo {
  margin-left: 117px;
}

.footer__right-down {
  margin-top: 42px;
}
.footer__right-down .sigh-up {
  margin-bottom: 190px;
}
.footer__right-down .sigh-up h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  margin-bottom: 32px;
}
.footer__right-down .sigh-up .subscribe {
  display: flex;
}
.footer__right-down .sigh-up .subscribe input {
  background: #FFFFFF;
  border: 1px solid #CFD2D3;
  border-radius: 4px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #878D90;
  margin-right: 20px;
  width: 461px;
  height: 56px;
  padding-left: 40px;
}
.footer__right-down .sigh-up .subscribe button {
  background: #283337;
  border-radius: 56px;
  width: 160px;
  height: 56px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__right-down .licence {
  display: flex;
}
.footer__right-down .licence p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #9FA4A6;
  margin-right: 30px;
}
.footer__right-down .licence h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #9FA4A6;
  margin-left: 154px;
}

.bold-text {
  font-weight: bold;
  text-decoration: underline;
}
